In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv',sep=',',decimal=',')

In [ ]:
df

In [ ]:
df2 = df[(df['sex'] == 'Male')]
average = df2['age'].mean()
round(average,1)

In [ ]:
df3 = df[(df['education'] == 'Bachelors')]
perecentage_bachelors = (df3['education'].count() / df['education'].count()) * 100
round(perecentage_bachelors,1)

In [ ]:
df3['education'].count()

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [ ]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']
df_with_education = df[df['education'].isin(advanced_education)]

In [ ]:
df_with_education

In [ ]:
higher_education = (df_with_education['education'].count() / df['education'].count()) * 100
higher_education

In [ ]:
df_with_education_more50k = df_with_education[df_with_education['salary'] == '>50K']

In [ ]:
higher_education_rich = round(((df_with_education_more50k['education'].count() / df_with_education['education'].count() ) * 100),1)
higher_education_rich

In [61]:
df_without_education = df[~df['education'].isin(advanced_education)] #filtramos el dataframe por los que no tienen eduacion avanzada.

In [64]:
lower_education = (df_without_education['education'].count() / df['education'].count()) * 100
lower_education #calculo del porcentaje de personas con educacion no avanzada.

76.99394981726606

In [65]:
df_without_education_more50k = df_without_education[df_without_education['salary'] == '>50K'] #filtramos nuevamente el dataframe(ya filtrado por la educacion) por el salario >50K

In [68]:
lower_education_rich = round(((df_without_education_more50k['education'].count() / df_without_education['education'].count()) * 100),1)
 #calculo del porcentaje de personas con educacion no avanzada con el salario >50k.

17.4

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [4]:
min_work_hours = min(df['hours-per-week'])

In [5]:
min_work_hours

1

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [20]:
num_min_workers = None
rich_percentage = None

In [21]:
df_min_number = df[(df['hours-per-week'] == 1)]

In [22]:
df_min_number_salary = df_min_number[(df_min_number['salary'] == '>50K')]

In [33]:
num_min_workers = df_min_number['age'].count()
num_min_workers

20

In [41]:
rich_percentage = (num_min_workers / df_min_number_salary['age'].count())

# What country has the highest percentage of people that earn >50K?

In [72]:
high_salary = df[df.salary == '>50K']
countries=df['native-country'].value_counts()
countries_hs=high_salary['native-country'].value_counts()
max_percentage=0

In [73]:

for i in range(countries_hs.shape[0]):
        percentage_per_country=round((countries_hs[i]/countries[countries_hs.index[i]])*100,1)
        if percentage_per_country>=max_percentage:
            max_percentage=percentage_per_country
            name_of_country=countries_hs.index[i]

In [74]:
highest_earning_country = name_of_country
highest_earning_country_percentage = max_percentage

Identify the most popular occupation for those who earn >50K in India.

In [81]:
high_salary_India = high_salary[high_salary['native-country'] == 'India']

In [92]:
occupation = high_salary_India['occupation'].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

AttributeError: 'int' object has no attribute 'key'

In [95]:
top_IN_occupation = var.index[0]
top_IN_occupation

'Prof-specialty'